#home-header {
  text-align: center;
}


.periodic-item {
  position: absolute;
  -webkit-transform-origin: center center;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: flat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;

  background-image: url('panel-ticks.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 120px;
  height: 160px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 12px rgba(231,254,237,0.6);
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(231,254,237,0.6);
  color: rgba(240,240,240,0.8);
  text-align: center;
  -webkit-backface-visibility: visible;



  width: 120px;
  height: 160px;
  opacity: 1;
  background-color: rgba(73, 160, 154, 0.266667);
}

.periodic-item .number {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2.4px #3cf;
}

.periodic-item .symbol {
  top: 40px;
  left: 0px;
  right: 0px;
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 10px #3cf;
}

.periodic-item .name {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  font-size: 12px;
}

.periodic-item .mass {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
}